<h1>Listing blogs</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= link_to 'Show', blog %></td>
  </tr>
<% end %>
</table>
