body {
	font-family: 'Avant Garde', 'Century Gothic',sans-serif;
	background-image: url('/images/orchid_dew_adjusted.jpg');
	margin: 0;
	padding: 0;

}
	.bg_image {

	}

	#sidebars {
		position: relative;
		z-index: 1;
		padding: 10px;
		width: 200px;
		margin-top: 40px;
		margin-left: 40px;
		height: 600px;
		background-color: white;
		float: left;
	}
	.sidebar-background {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #FFF;
		color: #FFF;
		opacity: 0.55;
		z-index: -1;
	}

	.link {
		color: black;
	}
/*
	#blog-items {
		position: absolute;
		top: -10px;
		left: 250px;
		z-index: 1;

		margin: 50px 0 0 50px;
		width: 630px;
	}
		.blog-item {  .blog-item {
		position: relative;
		width: 175px;
		height: 150px;
		margin-bottom: 10px;
		margin-left: 10px;
		padding: 12px;
		background-color: white;
		border: solid black;
		float: left;
  }
			position: relative;
			z-index: 1;
			padding: 10px;
			float: left;
			width: 175px;
			height: 150px;
			margin: 0 15px 15px 0;
			font-size: 2em;
			line-height: 100%;
			color: white;
		}
(479) 586-1377,
		.blog-item-background {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			background: #FFF;
			color: #FFF;
			opacity: 0.55;8
			z-index: -1;
			border: double;
			border-color: black;
		}

		.blog-page-nav {
			position: relative;
			z-index: 1;
			padding: 5px;(479) 586-1377,
			float: left;
			margin: 0 15px 15px 0;
			font-size: 1.5em;
			line-height: 100%;
			color: white;
		}

		.blog-nav-background {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: #FFF;
			color: #FFF;
			opacity: 0.55;
			z-index: -1;
		width: 175px;
		height: 150px;
		margin: 10px;
		padding: 12px;
		background-color: white;
		border: solid black;
		float: left;
		}*/

  #blog-items {
		position: absolute;
		margin-top: 40px;
		margin-left: 300px;
		width: 800px;
		height: 630px;
  }

  .blog-item {
		font-family: 'Avant Garde', 'Century Gothic',sans-serif;
		position: relative;
		width: 175px;
		height: 150px;
		margin-bottom: 10px;
		margin-left: 10px;
		padding: 12px;
		background-color: rgba(255, 255, 255, .55);
		float: left;
  }

  .blog-item:hover {
		position: relative;
		width: 175px;
		height: 150px;
		margin-bottom: 10px;
		margin-left: 10px;
		padding: 12px;
		float: left;
		background-color: rgba(255, 255, 255, .75);
  }

	#search {
  	margin: 28px 0 30px 14px;
  }

#footer {
	font-family:"Georgia";
	line-height: 16px;
	font-size: 10px;
	color: #FFFFFF;
	margin-bottom: 10px;
	padding: 40px 40px 23px 50px;
}


ul#nav {
	list-style: none;
	line-height:500%;
}

li {
	list-style: none;
	color: rgb(255, 195, 107);
	font-size: 4em; font-weight: 100;
}

li.selected {
	color: white;
Older posts?
.
}

li.categoryitem {
	list-style: none;
	color: rgb(176,102,0);
	line-height: 100%;
	font-size:1em;
	font-weight: 100;
}

p{
	color: white;
	font-size: 1em;
	font-weight: 50;
}

a, a:link{
	text-decoration: none;
	list-style: none;
	color: rgb(255, 195, 107);
}
a:visited{
	color: rgb(255, 195, 107);
}
a:hover{
	color: rgb(148, 211, 255);
}

a.blognav:link {
	text-decoration: none;
	list-style: none;
	line-height: .25em;
	font-size: .3em;
	color: rgb(176, 102, 0);
}

a.blognav:visited {
	font-size: .3em;
	color: rgb(176, 102, 0);
}

img.top-left-background {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#left_sidebar {
			width: 200px;
		}
