body {
	font-family: 'Avant Garde', 'Century Gothic',sans-serif;
	background-color: rgb(255, 156, 13);
	margin: 0;
	padding: 0;

}
/*
	#content {
		position: relative;
		padding: 10px;
		margin-top: 40px;
		margin-left: 40px;
		background: #FFF;
		background-position: top left;
		background-repeat: no-repeat;
		opacity: 100%;
	  z-index: 1;
		/*background: transparent;/

	}

	.content-background {
		position: absolute:
		top: 0
		right: 0;
		bottom: 0;
		left: 0;
		background: #FFF;
		color: #FFF;
		opacity: 0.75;
	  margin-left: auto;
	  margin-right: auto;
		z-index:-1
	/*	margin:5;
		background:#FFF;/
	} */

.content {
  position: relative;
  border: 4px dotted red;
  z-index: 1;
  padding: 10px;
  width: 200px;
  margin-top: 40px;
  margin-left: 40px;
}
.content-background {
  border: 4px dashed green;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFF;
  color: #FFF;
  opacity: 0.75;
  z-index: -1;
}
	
	#postgrid {
	
	}
	.blog-item-background {
		position: absolute:
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #FFF;
		color: #FFF;
	}

	.blog-item {
		position: relative;
	}


ul#nav {
	list-style: none;
	line-height:500%;
}

li {
	color: rgb(255, 195, 107);
	font-size: 4em; font-weight: 100;
}

li.selected {
	color: white;
}

li.categoryitem {
	list-style: none;
	color: white;
	line-height: 100%;
	font-size:1em; font-weight: 100;
}

p{
	color: white;
	font-size: 1em;
	font-weight: 50;
}

a, a:link{
	text-decoration: none;
	color: rgb(255, 195, 107)
}
a:visited{
	color: rgb(255, 195, 107)
}
a:hover{
	color: rgb(148, 211, 255)
}

img.top-left-background {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#left_sidebar {
			width: 200px;
			position: relative;
			float: left;
			overflow: hidden;
		}
