<body>
	<div class="content"> 
		<div id="left_sidebar">
					<a class="noborder"><img src="/images/johnbentcopeface.jpg" /></a>
		
				<div class="padd">
					This blog is a personal collection on design, my inspiration, photography and music.
				</div>
		
				<div id="search">
				  <strong>Search</strong>
				  <form id="form_search" action="http://blog.johnbentcope.com/index.php" method="get">
				 		<div>
				  		<input value="" name="s" id="s" class="search"> <a href="javascript:document.getElementById('form_search').submit();">Search</a>
							</div>
						</form>
					</div>
		
				<div class="padd">
					<strong>Categories</strong>
				  <ul>
				   	<li class="categoryitem"><a href="http://blog.johnbentcope.com/category/design/" title="Interior, Industrial, Graphic; It's all here">design</a> (3)
							</li>
						<li class="categoryitem"><a href="http://blog.johnbentcope.com/category/inspiration/" title="Anything I find that sparks my creativity">inspiration</a> (48)
							</li>
						<li class="categoryitem"><a href="http://blog.johnbentcope.com/category/photography/" title="It's what I do">photography</a> (13)
							</li>
						<li class="categoryitem"><a href="http://blog.johnbentcope.com/category/music/" title="We can't live in silence">music</a> (14)
							</li>
						<li class="categoryitem"><a href="http://blog.johnbentcope.com/category/projects/" title="Things in progress and things in my dreams">projects</a> (18)
							</li>
				 	  </ul>
			</div>
		</div>
	<div class="content-background">.</div>
	</div>
</body>
