<div id="left_sidebar">
	  	<a href="./Morphix Blog - Graphic Design, Intellectual Property Law, User Experience_files/Morphix Blog - Graphic Design, Intellectual Property Law, User Experience.html" class="noborder"><img src="./Morphix Blog - Graphic Design, Intellectual Property Law, User Experience_files/logo_top.gif" alt="Morphix blog" class="logo"></a>
		
		<div class="padd">
			<strong>This</strong> blog is a personal collection on design, my inspiration, photography and music.
		</div>
		
        <div id="search">
          <strong>Search</strong>
          <form id="form_search" action="http://blog.morphix.si/index.php" method="get">
            <div>
              <input value="" name="s" id="s" class="search"> <a href="javascript:document.getElementById('form_search').submit();">Search</a>
            </div>
          </form>
        </div>
		
		<div class="padd">
		  <strong>Category</strong>
          <ul>
            	<li class="cat-item cat-item-21"><a href="http://blog.johnbentcope.com/category/design/" title="Interior, Industrial, Graphic; It's all here">design</a> (3)
</li>
	<li class="cat-item cat-item-3"><a href="http://blog.johnbentcope.com/category/inspiration/" title="Anything I find that sparks my creativity">inspiration</a> (48)
</li>
	<li class="cat-item cat-item-2"><a href="http://blog.johnbentcope.com/category/photography/" title="It's what I do">photography</a> (13)
</li>
	<li class="cat-item cat-item-1"><a href="http://blog.johnbentcope.com/category/music/" title="We can't live in silence">music</a> (14)
</li>
	<li class="cat-item cat-item-6"><a href="http://blog.johnbentcope.com/category/projects/" title="Things in progress and things in my dreams">projects</a> (18)
</li>
          </ul>
		</div>
		
	  </div>
