<img class="top-left-background" src="/images/brain_transparent.png" />

<!--
<ul id="nav">
	<img class="john-bent-cope-header" src="/images/johnbentcope.gif" />
</ul>
-->
<ul id="nav">
	<li class="selected">|||JOHNBENTCOPE|</h1>
	<li>|||PORTFOLIO|</li>
	<li><%= link_to "|||BLOG|", blogs_show_path, :id => 'blog' %></li>
	<li><%= link_to "|||LINKS|", index_links_path, :id => 'links' %></li>
</ul>
