<!-- <img class="top-left-background" src="/images/brain_transparent.png" /> -->
<!--  -->

<!--
<ul id="nav">
HEAD
	<img class="john-bent-cope-header" src="/images/johnbentcope.gif" />
</ul>
-->
<ul id="index">
	<li class="selected">|||JOHNBENTCOPE|</h1>
	<li><%= link_to "|||PORTFOLIO|", index_portfolioindex_path, :id => 'portfolio' %></li>
	<li><%= link_to "|||BLOG|", blogs_path, :id => 'blog' %></li>
</ul>
