<img class="top-left-background" src="/images/brain_transparent.png" />

<ul id="nav">
  <li class="selected">|||JOHNBENTCOPE|</h1>
  <li>|||PORTFOLIO|</li>
  <li>|||BLOG|</li>
  <li><%= link_to "|||LINKS|", index_links_path %></li>
</ul>