<ul id="nav">
  <li class="selected">|||JOHNBENTCOPE|</h1>
  <li><%= link_to "|||PORTFOLIO|", index_portfolioindex_path %></li>
  <li><%= link_to "|||BLOG|", index_blogindex_path %></li>
  <li><%= link_to "|||LINKS|", index_links_path %></li>
</ul>